* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  background: url("../images/bg.jpg") center center no-repeat;
  background-size: 100% 100%;
  height: 1000px; }

.active-gradient-vertical, .main-navbar ul li.account a {
  background: #e7204b;
  background: -moz-linear-gradient(top, #e7204b 0%, #12102b 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #e7204b), color-stop(100%, #12102b));
  background: -webkit-linear-gradient(top, #e7204b 0%, #12102b 100%);
  background: -o-linear-gradient(top, #e7204b 0%, #12102b 100%);
  background: -ms-linear-gradient(top, #e7204b 0%, #12102b 100%);
  background: linear-gradient(to bottom, #e7204b 0%, #12102b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7204b', endColorstr='#12102b', GradientType=0); }

.active-gradient-horizontal, .main-navbar ul li.active a {
  color: #fff;
  background: #12102b;
  background: -moz-linear-gradient(left, #12102b 0%, #e7204b 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #12102b), color-stop(100%, #e7204b));
  background: -webkit-linear-gradient(left, #12102b 0%, #e7204b 100%);
  background: -o-linear-gradient(left, #12102b 0%, #e7204b 100%);
  background: -ms-linear-gradient(left, #12102b 0%, #e7204b 100%);
  background: linear-gradient(to right, #12102b 0%, #e7204b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#12102b', endColorstr='#e7204b', GradientType=1); }

.main-navbar .logo {
  float: left;
  margin-top: 20px;
  margin-right: 60px; }
  @media only screen and (max-width: 1199px) {
    .main-navbar .logo {
      margin-right: 20px; } }
  .main-navbar .logo img {
    width: 250px; }
    @media only screen and (max-width: 1199px) {
      .main-navbar .logo img {
        width: 180px; } }
    @media only screen and (max-width: 991px) {
      .main-navbar .logo img {
        width: 150px; } }

.main-navbar ul {
  float: left;
  padding: 0;
  margin: 0;
  list-style: none;
  margin-top: 52px; }
  @media only screen and (max-width: 1199px) {
    .main-navbar ul {
      margin-top: 39px; } }
  @media only screen and (max-width: 991px) {
    .main-navbar ul {
      font-size: 13px; } }
  @media only screen and (max-width: 991px) {
    .main-navbar ul {
      margin-top: 34px; } }
  .main-navbar ul li {
    float: left; }
    .main-navbar ul li a {
      display: block;
      color: #12102b;
      font-size: 15px;
      padding: 5px 20px;
      text-align: center;
      border-radius: 20px;
      text-decoration: none;
      line-height: 1.2; }
      @media only screen and (max-width: 1199px) {
        .main-navbar ul li a {
          padding: 5px 10px; } }
      @media only screen and (max-width: 991px) {
        .main-navbar ul li a {
          font-size: 13px; } }
    .main-navbar ul li.account a {
      padding: 0;
      width: 25px;
      height: 25px;
      border-radius: 100%;
      line-height: 25px; }
      .main-navbar ul li.account a i {
        color: #fff; }

@font-face {
  font-family: "QueenCamelotItalic";
  src: url("../fonts/QueenofCamelot-Italic.eot");
  src: url("../fonts/QueenofCamelot-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/QueenofCamelot-Italic.woff") format("woff"), url("../fonts/QueenofCamelot-Italic.ttf") format("truetype"), url("../fonts/QueenofCamelot-Italic.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "QueenCamelotRegular";
  src: url("../fonts/QueenofCamelot.eot");
  src: url("../fonts/QueenofCamelot.eot?#iefix") format("embedded-opentype"), url("../fonts/QueenofCamelot.woff") format("woff"), url("../fonts/QueenofCamelot.ttf") format("truetype"), url("../fonts/QueenofCamelot.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

* {
  font-family: 'QueenCamelotRegular'; }
