* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: url('../images/bg.jpg') center center no-repeat;
    background-size: 100% 100%;
    height: 1000px;
}

.active-gradient-vertical {
    background: rgba(231, 32, 75, 1);
    background: -moz-linear-gradient(top, rgba(231, 32, 75, 1) 0%, rgba(18, 16, 43, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(231, 32, 75, 1)), color-stop(100%, rgba(18, 16, 43, 1)));
    background: -webkit-linear-gradient(top, rgba(231, 32, 75, 1) 0%, rgba(18, 16, 43, 1) 100%);
    background: -o-linear-gradient(top, rgba(231, 32, 75, 1) 0%, rgba(18, 16, 43, 1) 100%);
    background: -ms-linear-gradient(top, rgba(231, 32, 75, 1) 0%, rgba(18, 16, 43, 1) 100%);
    background: linear-gradient(to bottom, rgba(231, 32, 75, 1) 0%, rgba(18, 16, 43, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7204b', endColorstr='#12102b', GradientType=0);
}

.active-gradient-horizontal {
    color: #fff;
    background: rgba(18, 16, 43, 1);
    background: -moz-linear-gradient(left, rgba(18, 16, 43, 1) 0%, rgba(231, 32, 75, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(18, 16, 43, 1)), color-stop(100%, rgba(231, 32, 75, 1)));
    background: -webkit-linear-gradient(left, rgba(18, 16, 43, 1) 0%, rgba(231, 32, 75, 1) 100%);
    background: -o-linear-gradient(left, rgba(18, 16, 43, 1) 0%, rgba(231, 32, 75, 1) 100%);
    background: -ms-linear-gradient(left, rgba(18, 16, 43, 1) 0%, rgba(231, 32, 75, 1) 100%);
    background: linear-gradient(to right, rgba(18, 16, 43, 1) 0%, rgba(231, 32, 75, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#12102b', endColorstr='#e7204b', GradientType=1);
}

.main-navbar {
    .logo {
        float: left;
        margin-top: 20px;
        margin-right: 60px;
        @include mq('container-wide',
        'max') {
            margin-right: 20px;
        }
        img {
            width: 250px;
            @include mq('container-wide',
            'max') {
                width: 180px
            }

            @include mq('tablet-container',
            'max') {
                width: 150px
            }
        }
    }
    ul {
        float: left;
        padding: 0;
        margin: 0;
        list-style: none;
        margin-top: 52px;
        @include mq('container-wide', 
        'max') {
            margin-top: 39px;
        }
        
        @include mq('tablet-container',
        'max') {
            font-size: 13px;
        }
        @include mq('tablet-container',
        'max') {
            margin-top: 34px;
        }
            li {
            float: left;
            a {
                display: block;
                color: #12102b;
                font-size: 15px;
                padding: 5px 20px;
                text-align: center;
                border-radius: 20px;
                text-decoration: none;
                line-height: 1.2;
                @include mq('container-wide',
                'max') {
                    padding: 5px 10px;
                }
                @include mq('tablet-container',
                'max') {
                    font-size: 13px;
                }
            }
            &.account {
                a {
                    padding: 0;
                    @extend .active-gradient-vertical;
                    width: 25px;
                    height: 25px;
                    border-radius: 100%;
                    line-height: 25px;
                    i {
                        color: #fff
                    }
                }
            }
            &.active {
                a {
                    @extend .active-gradient-horizontal
                }
            }
        }
    }
}